.Form {
  margin: 50px;
}

 form#addPost {
  background-color: silver;
  padding:25px 50px;
  font-size: 20px;
  border-radius: 5px;
}

form#addPost #message {
  margin: 10px 5px;
  padding: 5px;
}

form#addPost input#message {
  width: 500px;
height: 50px;
}

#submit {
  padding: 5px 20px;
  background-color: navy;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.Wall {
  padding: 25px 75px;
  border: 2px solid navy;
  border-radius: 5px;
  margin-top: 10px;
}

.post {
  border: 1px solid navy;
  padding: 10px;
  font-size: 18px;
  background-color: silver;
  margin: 10px;
  border-radius: 5px;
  height: 100px;
}

#submit {
  margin-left:550px;
}


.post .deleteButton {
  background-color: white;
  color: navy;
  float: right;
  border-radius: 5px;
  padding:10px 25px;
  font-size: 20px;
  margin: 5px;
  margin-top: 35px;
}

.post .likeButton {
  background-color: white;
  color: navy;
  float: right;
  border-radius: 5px;
  padding:10px 25px;
  font-size: 20px;
  margin: 5px;
  margin-top: 35px;
}

button .post {
  padding-top: 10px;
}

#date {
  color: green;
  margin: 0;
}

#like {
  float: right;
  font-size: 26px;
  color: navy;
}

